    <div class="my-8"><strong>Apartment Information:</strong></div>

  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @apartment %>
    <br>
  </div>

<hr style="border: 1px solid black;">

<div class="my-8"><strong>Rooms for this apartment:</strong></div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full">
  <% @apartment.rooms.each do |room| %>
    <%= render 'room', room: room %>
  <% end %>
</div>
