@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lobster';
  src: url('MeriendaOne-Regular.ttf') format('truetype');
}

.hero {
  height: 100vh;
  position: relative;
  width: 100%;
}

.hero::before {
    content: "";
    background-image: url('/assets/ohrid.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
    z-index: -1;
}

.merienda-one-font {
  font-family: 'Lobster';
}

.sidebar {
  min-height: calc(100vh)!important;
}

.btn {
  @apply rounded-lg py-3 px-5 text-white block font-medium;

}

.btn-primary {
  @apply bg-blue-600;
}

.btn-danger {
  @apply bg-red-600;
}

.btn-warning {
  @apply bg-yellow-400 text-black;
}

.btn-success {
  @apply bg-green-600;
}